:root {
  --cor-primaria: #0369a1;
  --cor-secundaria: #ffd000;
  --cor-texto-claro: #fff;
  --cor-texto-escuro: #111;
  --cor-texto-base: #222;
  --background: #f8f9fa;

  --shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  --font-base: "Poppins", "Segoe UI", sans-serif;

  --transition: 0.3s ease-in-out;
}

/* =============================== RESET ================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  background-color: var(--background);
  color: var(--cor-texto-base);
  line-height: 1.6;
  overflow-x: hidden;
}

/* =============================== CABEÇALHO ================================*/
header {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-claro);
  padding: 1rem 4rem; 
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  box-shadow: var(--shadow);
}

#logo_nome {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.line-break {
  display: block;
  margin-top: -8px;
  line-height: 0.9;
}

#logo {
  width: 6rem;
  height: auto;
  display: block;
}

header h1 {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

nav a {
  font-size: 1.5rem;
  color: var(--cor-texto-claro);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color var(--transition);
}

nav a:hover {
  color: var(--cor-secundaria);
}

/* =============================== RODAPÉ ================================*/
footer {
  background-color: var(--cor-texto-escuro);
  color: var(--cor-texto-claro);
  text-align: center;
  padding: 1.8rem 1rem;
  font-size: 0.95rem;
  margin-top: 2rem;
  width: 100%;
  transition: opacity var(--transition);
}

footer p {
  letter-spacing: 0.5px;
  opacity: 0.9;
}


/* =============================== RESPONSIVIDADE ================================*/

@media (max-width: 1200px) {

  header h1 {
    font-size: 1.6rem;
  }

  #logo {
    width: 4.5rem;
  }


  nav ul {
    gap: 1rem;
    margin-top: 0.8rem;
  }

  nav a {
    font-size: 1.3rem;
  }
}

@media (max-width: 990px) {

  header {
    flex-direction: column;
  }

  header h1 {
    font-size: 2rem;
  }

  #logo {
    width: 5rem;
  }


  nav ul {
    gap: 2.5rem;
    margin-top: 0.8rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

@media (max-width: 670px) {

  header h1 {
    font-size: 1.5rem;
  }

  #logo {
    width: 4rem;
  }

  nav ul {
    gap: 1.5rem;
    margin-top: 0.2rem;
  }

  nav a {
    font-size: 0.9rem;
  }
}