/*  SEÇÕES */
main {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: auto;
}

section {
  text-align: center;
  margin-bottom: 4rem;
}

section h2,
section h3 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

section h2::after,
section h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #ffd000;
  margin: 0.5rem auto 0;
  border-radius: 10px;
}

section p {
  color: #5a5f78;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0.5rem auto 0;
  line-height: 1.7;
}

#carrossel {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  aspect-ratio: 16 / 9;
  list-style: none;
  padding: 0;
}

.listas {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.imagem {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 700ms ease-in-out;
  width: 100%;
  height: 100%;
}

/* imagem Ativa */
.imagem[data-active] {
  opacity: 1;
  z-index: 10;
}

.imagem img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  section h2,
  section h3 {
    font-size: 2rem;
  }

  main {
    padding: 2rem 1rem;
  }

  #carrossel-simples {
    max-width: 100%;
    margin: 20px 0;
    border-radius: 0;
  }
}
